venv/
output/
uploads/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.dmypy.json
dmypy.json
.vscode
Dockerfile
.dockerignore
README.md
USAGE.md
CODE_EXPLANATION.md
NAME_POSITION_GUIDE.md
